<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<ros2_control name="ArduinoHardware" type="system">
<hardware>
<!-- <plugin>meu_braco_hardware_interface/ArduinoHardwareInterface</plugin> -->
<plugin>arm_hardware/ArmHardwareInterface</plugin>

<param name="serial_port_name">/dev/ttyACM0</param>
</hardware>
        <joint name="arm_shoulder_pan_joint"><command_interface name="position"/><state_interface name="position"/></joint>
        <joint name="arm_shoulder_lift_joint"><command_interface name="position"/><state_interface name="position"/></joint>
        <joint name="arm_elbow_flex_joint"><command_interface name="position"/><state_interface name="position"/></joint>
        <joint name="arm_wrist_flex_joint"><command_interface name="position"/><state_interface name="position"/></joint>
        <joint name="crane_plus_moving_finger_joint"><command_interface name="position"/><state_interface name="position"/></joint>
    </ros2_control>
</robot>

